#clock{
	background: #000000;
	color: #ffffff;
	height: 400px;
	line-height: 400px;
	width=100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 15vw;
}

.timepickerdiv{
    background: #000000;
	color: #ffffff;
	height: 150px;
	width=100%;
	text-align: center;
	font-family: sans-serif;
}

#hidetimepickerdiv{
    display: none;
    height: 0px;
}


