#clock{
    background: #000000;
    color: #ffffff;
    height: 400px;
    line-height: 400px;
    width=100%;
    text-align: center;
    font-size: 15vw;
}

#clock-text{
    background: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-weight:bold;
}
